<!DOCTYPE html>
<html>
<head>
  <title>Whittaker tech midas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "whittaker_tech/midas/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
