name: CI

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*.*.*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Install SQLite
        run: sudo apt-get install -y sqlite3 libsqlite3-dev

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run RSpec
        run: bundle exec rspec

  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Build gem
        run: gem build whittaker_tech-midas.gemspec

      - name: Publish to RubyGems
        run: gem push whittaker_tech-midas-*.gem
        env:
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}